*{
    margin: 0;
    padding: 0;
    font-family: -apple-system, 'Roboto', BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

body {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    width:100vw;
    height: 100vh;
    background-color: rgb(247, 247, 247);
}
.left {
    display: grid;
    grid-template-rows: auto 1fr;
    padding: 0 32px;
    border-right: 2px solid black;
}
.logo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 128px;
    align-items: center;
    justify-items: start;
}
.logo > svg {
    transform: scale(4);
    justify-self: center;
}
.constructor {
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(20px, auto));
}
.constructor > div {
    display: grid;
    grid-template-rows: auto 1fr;
    gap: 8px;
}

.constructor > div > label {
    font-size: 14px;
    font-weight: 900;
    color: rgb(33, 33, 33);
}

.constructor > div > input {
    height: 24px;
    padding: 0 0 0 12px;
}

.constructor > div > select {
    height: 32px;
    width: calc(90% + 12px);
    padding: 0 0 0 12px;
}

.constructor > div > textarea {
    height: 128px;
    padding: 12px 0 0 12px;
}

.constructor > div > textarea, select, input{
    border: 1px solid rgb(155, 154, 154);
    border-radius: 4px;
    width: 90%;
    background-color: rgb(209, 209, 209);
}

.constructor > div > input[type='submit']{
    width: 96px;
    height: 32px;
    font-size: 16px;
    font-weight: 900;
    justify-self: right;
    margin: 6px;
    padding: 0;
    color: rgb(33, 33, 33);
}

.constructor > div > input[type='submit']:hover{
    border: 1px solid rgb(78, 78, 78);
    border-radius: 4px;
    background-color: rgb(129, 129, 129);
}

.constructor > div > input[type='submit']:active{
    border: 1px solid rgb(196, 196, 196);
    border-radius: 4px;
    background-color: rgb(236, 236, 236);
}

.left > footer {
    padding-bottom: 2px;
    text-align: center;
    font-size: 10px;
    font-weight: 900;
}

.middle {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(96px, 1fr));
}

.right {
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(32px, auto));
    padding: 32px;
    border-left: 2px solid black;
}

.right > div {
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(24px, 48px));
    gap: 16px;
}

.right > div > div {
    display: grid;
    /* grid-template-columns: repeat(auto-fit, minmax(auto, 1fr)); */
    column-gap: 42px;
}

.middle {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(274px, 320px));
    gap: 36px;
    padding: 48px 16px;
    justify-items: center;
    align-items: center;
    overflow-y: auto;
    justify-content: center;
}

.book {
    width: 274px;
    border: 2px solid black;
    border-radius: 4px;
    height: 384px;
    display: grid;
    grid-template-rows: repeat(auto-fit, 1fr);
    /* grid-template-columns: 1fr auto; */
    padding: 16px;
    gap: 2px;
}
.wrapper {
    display: grid;
    grid-template-columns: 1fr auto;
}

.wrapper > div > img {
    height: 16px;
    width: 16px;
    margin: 4px;
}

.book > div {
    display: grid;
    border-bottom: 1px solid rgb(155, 154, 154);
}

.book > div > h4 {
    color: rgb(33, 33, 33);
}
.book > div > p {
    color:rgb(78, 78, 78);
}

.book > div > textarea {
    border: 1px solid rgb(155, 154, 154);
    border-radius: 4px;
    width: 274px;
    background-color: rgb(209, 209, 209);
}

#left-at:disabled{
    background-color: rgb(161, 161, 161);
}


